#header-playing-page{
    padding: 20px;
}


#body-playing-page{
    display: flex;
    flex-direction: row;
}

#playing{
    padding-left: 5%;
    font-family: Arial, sans-serif;
    color: #fff;
}

#related{
    text-align: left;
    padding-left: 10%;
    font-family: Arial, sans-serif;
    color: #fff;
    max-height: 5px;
}

#playing-p{
    font-family: sans-serif;
    font-weight: 1000;
    font-style:normal;
    font-size: x-large;
    padding-bottom: 10px;
    
}
