.btn-success{
    background-color: #0095D6;
    padding: 10px;
    position: absolute;
    border: 0;
    top: 20px;
    bottom: 860px;
    right: 0;
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
    color:#fff;
    cursor: pointer;
  }

  .btn-filtro{
    margin-right: 35px;
    background-color: white;
    color: #0095D6;
    padding: 10px;
    border: 0;
    top: 35px;
    bottom: 875px;
    right: 10px;
    cursor: pointer;
    position: absolute;
  }

  button:hover{
    background-color: rgba(0 0 0 / .2)
  }

  input{
    width: 350px;
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px;
    border: 0;
    outline: none;
    font-size: 1rem;
  }