#music-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: 2px solid #fff;
    height: 500px;
}

#music-image{
    /* padding: 30px 20px; */
    align-items: center;
}

#music-info{
    text-align: left;
    padding: 10px;
}

#music-playing{
    padding-bottom: 20px;
}