#music-card{
    display: flex;
    flex-direction: column;
   
    text-align: center;
    border: 2px solid #fff;
    height: 500px;
}

#music-image{
    /* padding: 30px 20px; */
    height: 60%;
    width: auto;
    align-items: center;
    border: 2px solid #fff;
}

#music-info{
    text-align: left;
    padding-top: 40px;
    padding-left: 10px;
}

#time-bar{
    padding-top: 25px;
    margin: none;
    
}


#music-playing{
    padding-top: 25px;
    padding-bottom: 20px;
}